<div>
  <div><%= data.name %></div>
  <div><p><%= data.main.temp %></p></div>
  <div><p>weather description: <%= data.weather[0].description%> </p></div>
  <div><a href="/">Back to home!</a></div>
</div>