<body>
  <form action="/weather/show" method="post">
    <label for="zip">Enter Zip Code:</label>
    <input type="text" name="zip" id="zip" />
    <br>
    <button type = "submit">Submit</button>
  </form>
</body>